In [1]:
import sys
sys.path.append("../bert")
sys.path.append("../..")
from data_structure.question import Question, NewQuestion
import pandas as pd

In [2]:
from util.util import get_files_paths_from_directory

dir = "../data/processed_train"
files = get_files_paths_from_directory(dir)
# train = pd.read_pickle(file)

In [3]:
# for file in files:
#     file_name = file[14:]
#     print(file_name)
#     dataset = pd.read_pickle(file)
file = files[0]
dataset = pd.read_pickle(file)

In [7]:
qid_list = []
tag_list = []
for question in dataset:
    qid = question.get_qid()
    tags = question.get_tag()
    qid_list.append(qid)
    tag_list.append(tags)

In [9]:
len(qid_list)

20000

In [10]:
dict = {'qid': qid_list, 'tags': tag_list} 
df = pd.DataFrame(dict)

In [11]:
df.head()

        qid                                         tags
0  49193286  [python, logistic-regression, scikit-learn]
1  26036397   [user-interface, client, java, chat, send]
2  27633099           [settings, preference, swift, ios]
3  39130762                 [dynamic, c, struct, arrays]
4  40355494                      [mysql, php, wordpress]

In [13]:
df['tag_length'] = df['tags'].str.len()

In [14]:
df.head()

        qid                                         tags  tag_length
0  49193286  [python, logistic-regression, scikit-learn]           3
1  26036397   [user-interface, client, java, chat, send]           5
2  27633099           [settings, preference, swift, ios]           4
3  39130762                 [dynamic, c, struct, arrays]           4
4  40355494                      [mysql, php, wordpress]           3

In [15]:
df['tag_length'].value_counts()

3    5922
2    5098
4    4030
5    2579
1    2369
6       2
Name: tag_length, dtype: int64

In [16]:
df.loc[df['tag_length'] == 6]

            qid                                               tags  tag_length
8412   43143993     [hp-uft, vbscript, vba, qtp, excel-vba, excel]           6
11700  48150376  [footer, vba, bookmarks, excel-vba, word-vba, ...           6

In [19]:
a = df.loc[df['qid'] == 48150376]

In [22]:
print(a)

            qid                                                  tags  \
11700  48150376  [footer, vba, bookmarks, excel-vba, word-vba, excel]

       tag_length
11700  6

In [21]:
pd.set_option('display.max_colwidth', -1)